<div class="form-card">
  <h2>Avec Bienveillance, Lâche-toi ! Exprime-toi !</h2>
  <nav>
    <button class="allPost" (click)="onAllPost()">Retour aux Posts</button>
  </nav>
  <form
    [formGroup]="postForm"
    enctype="multipart/form-data"
    (ngSubmit)="onSubmitForm()"
  >
    <label for="feeling">Ma Météo, Mes infos...</label>
    <textarea
      type="text"
      id="feeling"
      name="feeling"
      rows="5"
      formControlName="feeling"
    ></textarea>
    <label for="imageUrl">En image, ça peut le faire aussi</label>
    <input type="file" (change)="onFileSelect($event)" id="imageUrl" />
    <button type="submit">Enregistrer</button>
  </form>
</div>
