$primary-color: #FD2D01;
$secondary-color: #ffd7d7;
$tertiary-color: #4E5166;

* {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 17px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: $secondary-color;
}


.post-card {
  padding: 1%;
  margin: auto;
  margin-top: 30px;  
  box-shadow: 4px 4px 4px $primary-color;
  background: linear-gradient(white, $tertiary-color); 
  width: 30%;
  border-radius: 7px;   
  margin-bottom: 30px; 
}

img {
  width: 100%;
  object-fit: cover;
}


